<%= form_with(model: @post, url: @post.new_record? ? admin_posts_path : admin_post_path(@post), method: @post.new_record? ? :post : :patch) do |form| %>
  <% if @post.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.label :tags %>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :title do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
